* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: url(../assets/bg-desktop-light.jpg) #fafafa no-repeat top;
	background-size: contain;
}

body,
#root {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	padding: 64px 0;
}
