.new-todo {
	width: 100%;
	background: #fff;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0 16px;
	border-radius: 10px;

	&:focus-within {
		outline: 4px solid #f5a52d;
	}

	label {
		height: 32px;
		width: 32px;
		display: block;
		border-radius: 50%;
		border: 1px solid #d7d7d7;
		position: relative;

		&::before {
			content: "";
			opacity: 0;
			background: url(../../../assets/icon-check.svg) no-repeat center;
			height: 14px;
			width: 14px;
			display: block;
			top: 50%;
			left: 50%;
			position: absolute;
			transform: translate(-50%, -50%);
			background-size: contain;
			transition: 0.3s ease-in-out;
		}
	}

	&__complete {
		display: none;

		&:checked + label {
			background: linear-gradient(45deg, #57ddff, #c058f3);
			border: 0;

			&::before {
				opacity: 1;
			}
		}
	}

	&__input {
		flex: 1;
		height: 100%;
		margin-left: 16px;
		font-size: 18px;
		outline: none;
		border: 0;
		background: transparent;
		color: #4c4b5b;

		&::placeholder {
			color: #949399;
		}
	}
}
